<div class="container-wrap">
    <div class="container container-message container-details container-about">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box">
                    <h3>关于</h3>
                    <ul>
                        <li>
                            搬砖仓库： <a href="https://github.com/phh2008" target="_blank" style="color: blue;">Github</a>
                        </li>
                        <li>搬砖服务：xxx搬砖股份有限公司</li>
                        <li>更多搬砖服务，敬请期待！</li>
                    </ul>
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>100000+</em></span>
                        <span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>